.data-title {
  background-color: var(--bsg-mid-blue);
  margin-bottom: 0.5rem;
}

.data-title h1 {
  text-transform: uppercase;
  color: #ffffff;
}

.data-title section {
  margin-bottom: 0;
}

#title-block-header {
  background-color: var(--bsg-mid-blue);
  color: #ffffff;
  margin-top: 0;
  border-bottom: 0;
}

#title-block-header h1 {
  color: #ffffff;
}

.quarto-title-banner {
  color: #ffffff;
}

/*-- general ojs styling --*/

form.oi-ec050e {
  width: 100% !important;
  justify-content: end;
}

form.oi-ec050e label {
  width: unset !important;
}

.plot-controls .oi-ec050e {
  font-size: 0.8rem;
}

/*-- tab styling --*/

.panel-tabset * {
  border: 0;
}

.nav-tabs .nav-link {
  font-size: 0.9rem;
  font-family: "Josefin Sans", "Open Sans", sans-serif;
  text-transform: uppercase;
  border: 0;
  padding: 0 0.25rem;
  margin: 0.5rem 0.75rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
  color: var(--bsg-warm-grey6);
}

.nav-tabs .nav-link:hover {
  color: var(--bsg-light-blue);
  border-bottom: 4px solid var(--bsg-light-blue);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:hover {
  border: 0;
  color: var(--bsg-dark-blue);
  border-bottom: 4px solid var(--bsg-dark-blue);
}

nav .nav-tabs {
  text-transform: uppercase;
}

.help {
  max-width: 800px;
}

.tab-content {
  margin: 0;
  padding-bottom: 0;
}

/*-- dashobard styling --*/

.dashboard .country-narrative p.lead {
  margin: 0.5rem;
  padding: 0.25rem;
  font-size: 1.1rem;
}

.dashboard .select-country, .select-indicator {
  margin: 0.5rem;
}

.dashboard .select-country form.oi-ec050e label,
.dashboard .select-indicator form.oi-ec050e label {
  display: none;
}

.dashboard .select-country form.oi-ec050e select,
.dashboard .select-indicator form.oi-ec050e select {
  appearance: none;
  border: 0;
  border-radius: 0;
  padding: 0.25rem;
  border-bottom: 2px solid var(--bsg-warm-grey6);
  font-family: "Josefin Sans", "Open Sans", sans-serif;
  cursor: pointer;
}

.dashboard .select-country form.oi-ec050e select {
  font-size: 1.15rem;
  text-transform: uppercase;
}

.dashboard form.oi-ec050e::after {
  content: "\25BC";
  position: relative;
  color: var(--bsg-warm-grey6);
  right: 1rem;
  pointer-events:none
}

.dashboard form.oi-ec050e select:hover {
  border-bottom-color: var(--bsg-light-blue);
  background-color: var(--bsg-bg-blue);
  color: var(--bsg-light-blue);
}

.dashboard form.oi-ec050e:hover::after {
  color: var(--bsg-light-blue);
}

/*-- metric page styling -*/

.plot-controls {
  font-family: "Josefin Sans", "Open Sans", sans-serif;
  color: var(--bsg-warm-grey6);
  font-size: 10px;
  text-transform: uppercase;
}

.source-processing {
  border-top: 1px solid var(--bsg-warm-grey1);
  padding-bottom: 1rem;
}
